*{
    margin:0;
    
}

#todo-heading{
    color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:10px;
}
.todo-input{
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-input input{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
}
#add-btn{
  padding: 12px;
  width: 100px;
  margin: 10px;
  background-color:aqua;
  border-radius: 6px;
}
.hidden{
    display: none;
}
.todo-cards{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly
   
}
.card{
    border: 1px solid rgb(80, 74, 191);
    background-color: rgb(213, 166, 236);
    padding: 10px;
    margin: 15px;
    left:300px;
    width: 50%;
    height:50px;
    text-align: center;
    border-radius: 5px;
    text-wrap: wrap;
    overflow-wrap:break-word;
    
}
.card .p{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btns{
  padding: 12px;
  width: 100px;
  margin: 2px;
  background-color:aqua;
  border-radius: 3px;
}