* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  padding: 20px 20px;
  margin: 8px 80px 5px 20px;
  max-height: 30000px;
  text-wrap: wrap;
  overflow-wrap: break-word;
  /* overflow: scroll; */
}
.left-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* input[type=checkbox] {  
    zoom: 1.5;
    accent-color:#000;
    border-radius: 10px;
    border: solid red;
    
 } */

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.check-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
  gap: 20px;
}
.check-container input:checked ~ .demo {
  background-color: #2196f3;
}

.demo:after {
  content: "";
  position: absolute;
  display: none;
}

.check-container input:checked ~ .demo:after {
  display: block;
}
.demo {
  display: block;
  zoom: 1.5;
  border-radius: 5px;
  border: 1px solid lightgray;
  height: 15px;
  width: 15px;
  min-width: 15px;
}
input[type="checkbox"] :checked + .demo {
  background-color: #2196f3;
}
.demo:after {
  left: 28px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid rgb(242, 237, 237);
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
}
.check-container:hover input ~ .demo {
  background-color: #ccc;
}
.left-container p {
  font-weight: 500;
  position: relative;
  /* max-width: 250px; */
}
.right-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.right-container button {
  background-color: #f3f3f3;
  border: lightgray;
  zoom: 1.5;
}
#add-input {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: white;
  border: none;
  background-color: black;
  margin-right: 0%;
  width: 60%;
  padding: 12px 20px;
}
textarea:focus {
  border: none;
  outline: none;
}
#add-btn {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  border: none;
  background-color: black;
  margin-left: 0%;
  width: 10%;
  height: 40px;
}
.todo-form {
  display: flex;
  justify-content: flex-start;
  height: 40px;
  width: 40%;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: sticky;
  margin-top: 20px;
  bottom: 10px;
}
textarea::placeholder {
  color: #ffffff;
  opacity: 1;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal {
  background-color: #ffffff;
  padding: 20px 30px;
  position: relative;
  border-radius: 10px;
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-input {
  width: 300px;
  margin: 10px 0;
  font-size: 20px;
  padding: 5px 10px;
}
.btn-edit {
  margin: 20px 0px;
  border-radius: 100px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 12px;
  background-color: black;
  color: #ffffff;
}
#close-icon {
  color: #ff0000;
  position: absolute;
  top: 5px;
  right: 10px;
  zoom: 1.1;
}
.notifications {
  position: fixed;
  top: 0;
  right: 0;
  height: 50%;
  width: 30%;

  display: none;
}
.notification {
  position: relative;
  width: 300px;
  border: 1px solid black;
  background-color: rgba(135, 206, 235, 0.9);
  padding: 1px;
  margin-top: 10px;
  text-align: center;
  border-radius: 8px;
}
